.container {
    padding: 16px;
}

.headding {
    padding-bottom: 16px;
}

.historyContainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 16px;
}

.activeFilter {
    margin: 5px;
    background-color: #252525;
    width: 100px;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}

.nonActiveFilter {
    margin: 5px;
    background-color: #F4F4F4;
    width: 100px;
    color: #000;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}