.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

input {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #F4F4F4;
}

.signInButton {
    width: 316px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: #252525;
    ;
}

.signUpButton {
    width: 316px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #F4F4F4;
    ;
}


button:hover {
    cursor: pointer;
}

.forgot {
    font-size: 12px;
}