.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

input {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    width: 316px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}