.topSingleContainer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 32px);
    background-color: white;
    padding: 16px;
    height: 400px;
}

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 100px;
}

.red {
    width: 100px;
    height: 100px;
    background-color: tomato;
    border-radius: 5px;
}

.green {
    width: 100px;
    height: 100px;
    background-color: teal;
    border-radius: 5px;
}

button {
    width: 200px;
}

.error {
    font-size: 12px;
    color: tomato;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 450px;
    height: 100px;
    padding: 16px;
    padding-bottom: 100px;
}